# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [10]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [11]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection")

In [58]:
# Write function that locates outliers using standard deviation
def find_outliers_sd(card_holder=1):
    
    # Define the query, and join tables
    query = ("SELECT t.date, t.amount, t.card " +
             "FROM transaction AS t " + 
             "JOIN credit_card AS cc ON cc.card = t.card " +
             "JOIN card_holder AS ch ON ch.id = cc.cardholder_id " +
             "WHERE ch.id = " +
             str(card_holder) + 
             " ORDER BY date"
            )
    
    # Use pandas read_sql function to read query and get a pandas dataframe
    data = pd.read_sql(query, engine)
    
    # Store the mount column in a variable
    amount = data["amount"]
    # Get the mean
    mean = np.mean(amount, axis=0)
    # Get the standard deviation
    standard_deviation = np.std(amount, axis=0)
    
    # Indentify lowand high  transactions based on the standard deviations
    low_transactions = [x for x in amount if (x < mean - 2*standard_deviation)]
    high_transactions = [x for x in amount if (x > mean + 2*standard_deviation)]
    final_transactions = low_transactions + high_transactions
    
    # If there were some transactions greater or lower than 2 times the standard deviation of the amount, then:
    if len(final_transactions) > 0:
        
        # Define the query (same as above), but filter for the rows containing fraudulent transactions
        query = ("SELECT t.date, t.amount, t.card " +
                 "FROM transaction AS t " + 
                 "JOIN credit_card AS cc ON cc.card = t.card " +
                 "JOIN card_holder AS ch ON ch.id = cc.cardholder_id " +
                 "WHERE ch.id = " +
                 str(card_holder) + 
                 " AND t.amount IN (" +
                 str(final_transactions)[1:-1] +
                 ") "
                 "ORDER BY date"
            )
        
         # Use pandas read_sql function to read query and get a pandas dataframe
        data = pd.read_sql(query, engine)
        return data
    
    # If there was not a single transaction freater or lower than 2 times the standard deviation, then:
    else:
        return "There where no fraudulent transactions found."

In [65]:
find_outliers_sd(1)

                 date  amount                 card
0 2018-01-24 13:17:19  1691.0  4761049645711555811
1 2018-07-31 05:15:17  1302.0  4761049645711555811
2 2018-09-04 01:35:39  1790.0  4761049645711555811
3 2018-09-06 08:28:55  1017.0  4761049645711555811
4 2018-09-06 21:55:02  1056.0  4761049645711555811
5 2018-09-26 08:48:40  1060.0  4761049645711555811
6 2018-11-27 17:27:34  1660.0  4761049645711555811
7 2018-12-07 07:22:03  1894.0  4761049645711555811
8 2018-12-30 23:23:09  1033.0  4761049645711555811

In [74]:
# Find anomalous transactions for 3 random card holders
for i in range(1,4):
    ch = random.randint(1,25)
    print(f"Fraudludent transaction found for card holder {ch}:")
    print(find_outliers_sd(ch))
    print("")

Fraudludent transaction found for card holder 13:
                 date  amount              card
0 2018-11-08 02:10:03   22.78  5135837688671496

Fraudludent transaction found for card holder 2:
There where no fraudulent transactions found.

Fraudludent transaction found for card holder 4:
                 date  amount              card
0 2018-02-20 17:03:54   20.88      584226564303
1 2018-07-17 04:19:38   21.50  4263694062533017

## Identifying Outliers Using Interquartile Range

In [ ]:
# Write a function that locates outliers using interquartile range

In [ ]:
# Find anomalous transactions for 3 random card holders